## HYPOTHESIS TESTING

In [2]:
import numpy as np
import pandas as pd

from scipy.stats import t
from scipy.stats import norm
from scipy.stats import ttest_1samp

%matplotlib inline

4000 USD

Sub-Test 2: Good cut + color E vs. Good cut + color F

In [24]:
path_cleaned_data = '../data/train/diamonds_train_ht.csv'

diamonds_df = pd.read_csv(path_cleaned_data)

diamonds_df.drop(['Unnamed: 0'], axis=1, inplace = True)

In [25]:
diamonds_df.head()

,cut_Fair,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,color_D,color_E,color_F,color_G,color_H,...,clarity_VVS1,clarity_VVS2,price,carat,depth,table,volume,L/W_ratio,V/W_Ratio,T/D_ratio
0,0,0,0,1,0,0,0,0,0,0,...,0,0,4268,1.21,62.4,58.0,314.89,0.6,260.24,0.929487
1,0,0,0,0,1,0,0,0,0,1,...,0,0,505,0.32,63.0,57.0,83.45,0.7,260.78,0.904762
2,1,0,0,0,0,0,0,0,1,0,...,0,0,2686,0.71,65.5,55.0,171.86,1.6,242.06,0.839695
3,0,1,0,0,0,1,0,0,0,0,...,0,0,738,0.41,63.8,56.0,104.26,0.9,254.29,0.877743
4,0,0,1,0,0,0,0,0,1,0,...,0,0,4882,1.02,60.5,59.0,277.59,0.6,272.15,0.975207

In [26]:
diamonds_df.shape

(40378, 28)

## 1. Sample vs Constant

We know from the available literature that diamonds average price rounds about 4000 USD. The aim is to test whether the prices in our sample are significantly different from the literature value. Give some conclusions about the implications of your test results.

In [39]:
mu = 4000

test_results = ttest_1samp(diamonds_df['price'], 4000)
p_value_good = test_results.pvalue /2

display(p_value_good) # scipy is p_value of both sides

print(f"Null Hypothesis: Price mean is not significantly different than the constant <> Avg price round about 4000")
print(f"Can we reject Null Hypothesis: \t{p_value_good < 0.05}")

6.617783042436085e-05

Null Hypothesis: Price mean is not significantly different than the constant <> Avg price round about 4000
Can we reject Null Hypothesis: 	True

By Hand:

In [40]:
mu_hat = diamonds_df['price'].mean()
n = diamonds_df.shape[0]
std_hat = diamonds_df['price'].std()

In [38]:
t_test = (mu_hat - mu) / (std_hat / np.sqrt(n))
t_test # t_test is the same as scipy
rv = t(df=n-1)
p_value = rv.cdf(t_test)

print(p_value)
display(p_value == p_value_good)

6.617783042436085e-05

True

## 2

In [ ]:
sub_test_21 = diamonds_df[(diamonds_df['cut_Good'] == 1) & (diamonds_df['color_E'] == 1)]
sub_test_22 = diamonds_df[(diamonds_df['cut_Good'] == 1) & (diamonds_df['color_F'] == 1)]

In [26]:
test_results = ttest_1samp(sub_test_1['price'], 4000)
display(test_results.statistic)
display(test_results.pvalue < 0.05)

-4.750641654253357

True

In [27]:
print(test_results.statistic)
print(test_results.pvalue)

-4.750641654253357
2.4685583057365885e-06

In [28]:
test_results = ttest_1samp(sub_test_2['price'], 4000)
display(test_results.statistic)
display(test_results.pvalue < 0.05)

-4.210391894626057

True

In [29]:
print(test_results.statistic)
print(test_results.pvalue)

-4.210391894626057
2.9024656067624447e-05

## 3

More relevant values in other cut ranges.. See potacho 

Sub-Test 1: Fair cut + color G vs. Fair cut + color I

Sub-Test 2: Good cut + color E vs. Good cut + color F

Sub-Test 3: Ideal cut + color D vs. Ideal cut + color E

Sub-Test 4: Premium cut + color D vs. Premium cut + color E

Sub-Test 5: Very Good cut + color I vs. Very Good cut + color J

Sub-Test 6: All cuts + color D vs. All cuts + color E