## HYPOTHESIS TESTING

In [3]:
import numpy as np
import pandas as pd

from scipy.stats import t
from scipy.stats import norm
from scipy.stats import ttest_1samp

%matplotlib inline

4000 USD

Sub-Test 2: Good cut + color E vs. Good cut + color F

In [5]:
path_cleaned_data = '../data/clean/diamonds_cleaned.csv'

diamonds_df = pd.read_csv(path_cleaned_data)

In [6]:
diamonds_df.head()

,Unnamed: 0,price,carat,cut,color,clarity,depth,table,volume,L/W_ratio,V/W_Ratio,color_num,clarity_num,cut_num,carat_range,table_range,color_range
0,0,4268,1.21,Premium,J,VS2,62.4,58.0,314.89,0.6,260.24,7,5,2,8,9,N-CL
1,1,505,0.32,Very Good,H,VS2,63.0,57.0,83.45,0.7,260.78,5,5,3,2,8,N-CL
2,2,2686,0.71,Fair,G,VS1,65.5,55.0,171.86,1.6,242.06,4,4,5,5,6,N-CL
3,3,738,0.41,Good,D,SI1,63.8,56.0,104.26,0.9,254.29,1,6,4,3,7,CL
4,4,4882,1.02,Ideal,G,SI1,60.5,59.0,277.59,0.6,272.15,4,6,1,7,10,N-CL

In [7]:
diamonds_df.shape

(40378, 17)

In [14]:
sub_test_1 = diamonds_df[(diamonds_df['cut'] == 'Good') & (diamonds_df['color'] == 'E')]

sub_test_1.head()

,Unnamed: 0,price,carat,cut,color,clarity,depth,table,volume,L/W_ratio,V/W_Ratio,color_num,clarity_num,cut_num,carat_range,table_range,color_range
150,150,5379,1.01,Good,E,SI1,64.3,59.0,245.70,0.8,243.27,2,6,4,7,10,CL
169,169,6937,1.19,Good,E,VS2,57.4,60.0,338.10,1.4,284.12,2,5,4,7,11,CL
196,196,3795,0.90,Good,E,SI1,63.9,57.0,226.23,0.7,251.37,2,6,4,5,8,CL
368,369,1163,0.54,Good,E,SI2,63.8,54.0,138.72,0.2,256.89,2,7,4,4,5,CL
389,390,1059,0.40,Good,E,VVS2,58.5,60.0,113.85,0.8,284.62,2,3,4,2,11,CL

In [15]:
sub_test_2 = diamonds_df[(diamonds_df['cut'] == 'Good') & (diamonds_df['color'] == 'F')]

sub_test_2.head()

,Unnamed: 0,price,carat,cut,color,clarity,depth,table,volume,L/W_ratio,V/W_Ratio,color_num,clarity_num,cut_num,carat_range,table_range,color_range
122,122,1350,0.52,Good,F,SI2,58.7,64.0,144.98,0.4,278.81,3,7,4,4,15,CL
372,373,2059,0.70,Good,F,SI1,64.3,63.0,171.88,0.5,245.54,3,6,4,4,14,CL
375,376,4508,0.90,Good,F,VS1,63.3,59.0,222.17,0.7,246.86,3,4,4,5,10,CL
446,448,6794,1.01,Good,F,VS1,59.0,62.0,285.75,0.6,282.92,3,4,4,7,13,CL
477,479,1357,0.52,Good,F,SI1,63.6,62.0,124.73,2.2,239.87,3,6,4,4,13,CL

## 1

In [50]:
test_results = ttest_1samp(diamonds_df['price'], 4000)
display(test_results.statistic)
display(test_results.pvalue < 0.05)

print(test_results.pvalue) # scipy is p_value of both sides

p_value_good = test_results.pvalue /2

print(p_value_good)

-3.8224029682839293

True

0.0001323556608487217
6.617783042436085e-05

In [51]:
mu = 4000
mu_hat = diamonds_df['price'].mean()
n = diamonds_df.shape[0]
std_hat = diamonds_df['price'].std()

In [52]:
t_test = (mu_hat - mu) / (std_hat / np.sqrt(n))
t_test

# t_test is the same as scipy

-3.8224029682839293

In [48]:
rv = t(df=n-1)
p_value = rv.cdf(t_test)

print(p_value * 2)

0.0001323556608487217

## 2

In [26]:
test_results = ttest_1samp(sub_test_1['price'], 4000)
display(test_results.statistic)
display(test_results.pvalue < 0.05)

-4.750641654253357

True

In [27]:
print(test_results.statistic)
print(test_results.pvalue)

-4.750641654253357
2.4685583057365885e-06

In [28]:
test_results = ttest_1samp(sub_test_2['price'], 4000)
display(test_results.statistic)
display(test_results.pvalue < 0.05)

-4.210391894626057

True

In [29]:
print(test_results.statistic)
print(test_results.pvalue)

-4.210391894626057
2.9024656067624447e-05

## 3

More relevant values in other cut ranges.. See potacho 

Sub-Test 1: Fair cut + color G vs. Fair cut + color I

Sub-Test 2: Good cut + color E vs. Good cut + color F

Sub-Test 3: Ideal cut + color D vs. Ideal cut + color E

Sub-Test 4: Premium cut + color D vs. Premium cut + color E

Sub-Test 5: Very Good cut + color I vs. Very Good cut + color J

Sub-Test 6: All cuts + color D vs. All cuts + color E